---
import '../../styles/globals.css';
import PageContainer from '../components/containers/PageContainer.astro';
import SpotifySection from '../sections/SpotifySection';
import Header from '../components/Header.astro';
import { Nav } from '../components/Header.astro';

import type { NowPlayingTrackResponse } from '@api/now';
// Types Import

const URL = import.meta.env.URL;

const nowPlayingResponse = await fetch(`${URL}/now`);
const nowPlayingTrack =
(await nowPlayingResponse.json()) as NowPlayingTrackResponse;

const tracksResponse = await fetch(`${URL}/tracks`);
const { tracks } = await tracksResponse.json();

const artistResponse = await fetch(`${URL}/artists`);
const { artists } = await artistResponse.json();

/*import { TracksMockData } from '../lib/spotify-mock-data';*/
/*import { ArtistMockData } from '../lib/spotify-mock-data';*/
/*import { NowPlayingMockData } from '../lib/spotify-mock-data';*/

/*const nowPlayingTrack = NowPlayingMockData;*/
/*const { artists } = ArtistMockData;*/
/*const { tracks } = TracksMockData;*/
---

<html lang="en">
  <head>
    <title>Barsi | Portfolio</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="./me.png" />
    <meta name="generator" content={Astro.generator} />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="follow, index" />
    <meta content="Barsi's portfolio website" name="description" />
    <meta property="og:url" content={'https://barsi.me/'} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Barsi's portfolio website" />

    <meta name="theme-color" content="#f087bd" />
    <meta property="og:description" content="Barsi's portfolio website" />
    <meta property="og:title" content="Barsi | Portfolio" />
    <meta property="og:image" content="./me.png" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Barsi | Portfolio" />
    <meta
      name="twitter:description"
      content="who am i? what do i do? what do i listen to?"
    />
    <meta name="twitter:image" content="/me.png" />
    <style>
      .scroll::-webkit-scrollbar {
        display: none;
      }
    </style>
  </head>

  <body class="flex flex-col h-screen">
    <div
      class="bg-c-bg scoll-smooth snap-y snap-mandatory h-screen scroll overflow-scroll"
    >
      <PageContainer>
        <Header current={Nav.HOME} />
        <content class="flex flex-col gap-8 justify-center items-center mt-32">
          <img
            src="./me.png"
            alt=""
            width="200px"
            height="200px"
            class="rounded-full"
          />
          <h1
            class="font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-c-cyan to-c-teal text-8xl"
          >
            Barsi
          </h1>
        </content>
      </PageContainer>

      <PageContainer>
        <SpotifySection
          tracks={tracks}
          artists={artists}
          nowPlaying={nowPlayingTrack}
          client:load
        />
      </PageContainer>
    </div>
  </body>
</html>
